:root{
	background-image:url("../fotos/fondo.jpg");
}
#fondo{
	background-image:url("../fotos/contenedorfondo.jpg");
}
header{
	position:absolute;
	background-image:url("../fotos/cabecera.png");
	width:100%;
	height:611px;
	top:63px;
	z-index:1;
}
header iframe{
	position:absolute;
	width:1015px;
	height:510px;
	left:92px;
	top:30px;
	border:none;

}
header div{
	width:50px;
	height:180px;
	background-color:#00000050;
	position:absolute;
	top:160px;
	border-radius:30px;
}
#der{
	left:1145px;
}
#der input,#izq input{
	position:absolute;
	width:50px;
	height:70px;
	top:55px;
}
#der:hover,#izq:hover{
	background-color:#BBBBBB60;
}
#izq{
	left:5px;
}
#cuerpo{
	position:absolute;
	height:345px;
	width:100%;
	top:651px;
	border-bottom:8px solid black;
	background-image:url("../fotos/cuerpofondo.jpg");
}
#cuerpo>img{
	position:absolute;
	bottom:210px;
	right:938px;
	width:400px;
	z-index:2;
}
#cuerpo>h1{
	margin:65px 242px 0px 258px;
}
#cuerpo article{
	width:200px;
	height:200px;
	position:absolute;
	top:120px;
}
#cuerpo h4{
	margin:150px 0px 5px 60px;
	position:absolute;
}
article img{
	top:40px;
	left:50px;
	position:absolute;
}
article[class] p{
	background-color:black;
	color:white;
	z-index:5;
	width:80%;
	height:51%;
	padding:10px;
	top:0px;
	text-align:center;
	position:absolute;
	border-radius:10%;
}
article.mover:hover p{
	display:block;
	left:15px;
}
article.mover2:hover p{
	display:block;
	padding-top:30px;
	height:42%;
	left:10px;
}
article.mover3:hover p{
	display:block;
	left:55px;
}
.centrar{
	top:10px;
	right:9px;
}
.centrarh{
	position:absolute;
	left:50px;
}
.mover{
	left:820px;
}
.mover2{
	left:500px;
}
.mover3{
	left:150px;
}
#expos{
	position:absolute;
	height:500px;
	width:100%;
	top:1004px;
	background-image:url("../fotos/cuerpofondo.jpg");
}
#elemento{
	position:absolute;
	bottom:320px;
	left:970px;
	width:300px;
	z-index:5;
}
#expos p{
	margin:0px 10px 20px 10px;
}
#expos article a{
	border:2px solid #26262690;
	background-color:#26262650;
}
#expos article a:hover{
	background-color:#F9F9F950;
}
#expos h2{
	margin:20px 0px 5px 500px;
}
#expos img[class],#expos article{
	width:300px;
	height:300px;
	position:absolute;
	border:2px solid white;
}
#expos img[class]:hover{
	transform:rotate(0deg);
	transform:scale(1.2);
	filter:blur(2px);
	z-index:5;
}
#a:hover,#a2:hover,#a3:hover,#a4:hover{
	opacity:1;
	background-color:#F9F9F980;
}
#a,#a2,#a3,#a4{
	z-index:5;
	position:absolute;
	text-align:center;
	opacity:0;
}
#a{
	top:110px;
	left:45px;
}
#a2{
	left:200px;
	top:80px;
}
#a3{
	left:760px;
	top:55px;
}
#a4{
	left:480px;
	top:130px;
}
.desordenar4{
	left:480px;
	top:140px;
	transform:rotate(5deg);
}
.desordenar3{
	left:760px;
	top:65px;
	transform:rotate(120deg);
}
.desordenar2{
	left:200px;
	top:90px;
	transform:rotate(340deg);
}
.desordenar{
	bottom:120px;
	left:50px;
	transform:rotate(40deg);
}
#nuevos{
	width:100%;
	height:400px;
	background-image:url("../fotos/cuerpofondo.jpg");
	position:absolute;
	top:1501px;
	border-top:8px solid black;
}
#nuevos>img{
	width:80px;
	position:absolute;
	bottom:0px;
}
#nuevos div{
	background-color:#00000080;
	width:250px;
	height:250px;
	position:absolute;
	top:100px;
	box-shadow:10px 5px 5px #000000;
}
#nuevos div img{
	width:100%;
	height:200px;
	position:absolute;
}
#nuevos h2{
	margin:20px 0px 0px 450px;
}
#nuevos div p{
	position:absolute;
	top:200px;
	color:white;
	font-weight:bold;
	margin:20px 0px 50px 10px;
	text-align:center;
}
#nuevos p a{
	position:absolute;
	left:200px;
	color:white;
}
#nuevos p a:hover{
	border-bottom:5px solid white;
}
.d{
	left:800px;
}
.d2{
	left:500px;
}
.d3{
	left:200px;
}
footer{
	width:100%;
	height:90px;
	position:absolute;
	background:-webkit-linear-gradient(top,black, white, silver);
	top:1910px;
}
footer h3 {
	margin-left:20px;
	color:#000000;
	text-shadow:6px 8px gray;
}
footer input{
	position:absolute;
	top:35px;
	left:950px;
	background:-webkit-linear-gradient(top,black, white, black);
	border:2px groove white;
	font-family:dragon;
	font-size:1cm;
}
footer input:hover{
	background:-webkit-linear-gradient(top,black, #671CF2, black);
	color:silver;
	border:3px groove #941CF280;
}
address{
	width:100%;
	height:140px;
	position:absolute;
	background-color:silver;
	top:2000px;
}
address p{
	margin:40px 0px 0px 700px;
	font-size:20px;
}
address input{
	display:inline;
	position:absolute;
	border-radius:40px;
	width:80px;
	height:80px;
	top:40px;
	left:80px;
}
address input:hover{
	transform:scale(1.2);
}
.mv{
	left:280px;
}
.mv2{
	left:480px;
}