@font-face{
	font-family:"birds";
	src: url("../documentos/Birds of Paradise.ttf");
}
@font-face{
	font-family:"dragon";
	src: url("../documentos/ChineseDragon.ttf");
}
@font-face{
	font-family:"zombie";
	src: url("../documentos/Curse of the Zombie.ttf");
}
*{
	cursor: url("../documentos/cursor/Steel Arrowhead.cur"),auto;
}
a:hover,input:hover{
	cursor: url("../documentos/cursor/Steel Arrowhead Alt. Select.cur"),auto;
}
::-webkit-scrollbar{
	width:10px;
	background-image:url("../fotos/barra.jpg");
}
::-webkit-scrollbar-button {
      background-image:url("../fotos/btbarra.jpg");
}
::-webkit-scrollbar-thumb {
      background-image:url("../fotos/btbarra.jpg");
} 
p{
	font-family:birds;
	text-align:justify;
}
a{
	font-family:zombie;
}
h1,h2,h3{
	font-family:dragon;
	font-size:1cm;
}
div#fondo{
	width:1200px;
	height:2000px;
	position:relative;
	margin:auto;
}
#menu{
	width:1200px;
	height:70px;
	background-image:url("../fotos/menu.png");
	position:fixed;
	top:0px;
	border-radius:20px;
	z-index:10;
}
a{
	text-decoration:none;
	color:black;
}
ul{
	list-style:none;
	position:absolute;
}
.escondido{
	display:none;
}
#menu ul>li{
	display:inline;
	position:relative;
	margin:0px 50px 0px 50px;
	left:120px;
	top:10px;
}
#menu input[type=text]{
	position:absolute;
	width:110px;
	left:960px;
	top:25px;
	background-color:silver;
	border:1px dotted white;
}
#menu input[type=image]:hover{
	border:1px dashed silver;
}
#menu>img{
	position:absolute;
	top:0px;
	left:0px;
	width:90px;
	height:70px;
	border-radius:20px;
}
#carro{
	position:absolute;
	left:860px;
	top:18px;
}
#carro:hover{
	border-radius:50%;
	box-shadow: 0px 0px 15px 15px silver;
	transform:scale(0.8);
}
.lupa{
	position:absolute;
	left:1080px;
	top:23px;
}
#menu li ul{
	top:8px;
}
#menu li li{
	display:none;
}
#ini{
	right:75px;
}
#cont{
	right:95px;
}
#prod{
	right:95px;
}
#menu li:hover li{
	color:white;
	display:block;
	text-align:center;
	margin:5px;
	background-image:url("../fotos/desp.jpg");
	margin:0px;
	width:150px;
	padding:4px 0px 4px 0px;
}
#menu li li:hover{
	background-image:url("../fotos/desp2.jpg");
	font-weight:bold;
}
#menu li li:hover a{
	color:#FBFCFC;
}
.construccion{
	background-image:url("../fotos/const.png");
}
.conscent{
	position:absolute;
	top:200px;
	left:130px;
	width:80%;
	height:400px;
}
.fondoc{
	background-image:url("../fotos/ind.jpg");
}
#cuenta {
	width:400px;
	height:300px;
	margin:auto;
	position:relative;
	top:130px;
	text-align:center;
	border:2px solid black;
	background-color:#FDFDFD90;
	box-shadow:5px 5px 5px black;
}
#cuenta:hover{
	background-color:#CAAD8F90;
}
#cuenta img{
	width:250px;
	margin:10px 0px 10px 0px;
}
#cuenta form,#cuenta input{
	font-family:birds;
	font-size:18px;
}
#cuenta a{
	font-family:birds;
	color:orange;
}
#cuenta a:hover{
	border-bottom:1px solid orange;
}
#registrar{
	width:500px;
	height:530px;
	margin:auto;
	position:relative;
	top:60px;
	text-align:center;
	border:2px solid black;
	background-color:#FDFDFD90;
	box-shadow:5px 5px 5px black;
}
#registrar:hover{
	background-image:url("../fotos/cuerpofondo.jpg");
}
#registrar form{
	margin:20px 0px 0px 20px;
	font-family:birds;
	font-size:18px;
}
#registrar input,#registrar select{
	margin-top:20px;
	background:none;
	border:2px dashed black;
	border-style:none none dashed none;
}
#registrar input[type=submit]{
	background-color:#00000090;
	color:white;
	font-family:dragon;
	font-size:20px;
	border:1px solid gray;
	padding:5px;
}
#registrar input[type=submit]:hover{
	background-color:#FDFDFD90;
	color:black;
	border:2px dashed green;
}
.bt{
	font-family:birds;
	background-color:black;
	position:relative;
	color:white;
	top:150px;
	left:650px;
	font-size:20px;
	border:1px dashed gray;
}
.fondog{
	background-image:url("../fotos/desp.jpg");
}
#galeria{
	width:1200px;
	height:580px;
	position:relative;
	margin:auto;
}
.galeriac{
	position:absolute;
	top:67px;
	margin:auto;
	width:100%;
	height:580px;
}
.audio{
	position:absolute;
	top:20px;
	left:1200px;
	width:20px;
}
div[class=galeriac] iframe{
	width:100%;
	height:100%;
	border:none;
}
div#contproductos{
	height:2737px;
	width:1000px;
	margin:auto;
	position:relative;
}
#contproductos h1,h4,#contproductos p,#contproductos input{
		text-align:center;
		background:none;
		border:none;
}
#contproductos p{
	font-family:times new romans;
}
#contproductos img{
	position:relative;
	width:100%;
	height:58%;
}
#contproductos input[type=submit]:hover{
	color:silver;
	font-style:italic;
	font-family:birds;
	font-size:15px;
}
#contproductos label{
	margin-left:30px;
}
#contproductos nav{
	height:40px;
	width:690px;
	position:fixed;
	top:0px;
	left:335px;
	margin:auto;
	border-bottom:2px solid black;
	background-color:#FDFDFD90;
	z-index:2;
}
#contproductos nav:hover{
	background-color:#00000020;
}
#menup ul{
	top:0px;
}
#menup li{
	display:inline;
	margin-left:35px;
}
#menup li:hover{
	border-bottom:6px solid #FDFDFD90;
}
#contproductos section{
	background-image:url("../fotos/pf.jpg");
	height:1300px;
	width:100%;
	position:absolute;
}
#contproductos article{
	width:250px;
	height:290px;
	background-color:#00000090;
	box-shadow:10px 5px 5px #000000;
	position:absolute;
}
#contproductos article:hover{
	transform:scale(1.3);
	background-color:#FDFDFD90;
}
.pmv{
	top:35px;
}
.pmv2{
	top:1335px;
}
.pmv3{
	top:2635px;
}
.pmv4{
	top:3935px;
}
.sa{
	top:220px;
	left:680px;
}
.sa2{
	top:220px;
	left:370px;
}
.sa3{
	top:220px;
	left:60px;
}
.sa4{
	top:600px;
	left:680px;
}
.sa5{
	top:600px;
	left:370px;
}
.sa6{
	top:600px;
	left:60px;
}
.sa7{
	top:960px;
	left:680px;
}
.sa8{
	top:960px;
	left:370px;
}
.sa9{
	top:960px;
	left:60px;
}